.buttons {
  display: flex;
  gap: 70px;
  margin-top: 100px;
}
.buttons .grow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  background-color: gray;
  color: white;
  font-size: 24px;
  margin-left: 50px;
  transition: 1s ease;
}
.buttons .grow:hover {
  transform: scale(1.1);
}

.shrink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  background-color: gray;
  color: white;
  font-size: 24px;
  transition: 1s ease;
}
.shrink:hover {
  transform: scale(0.9);
}

.rotate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  background-color: gray;
  color: white;
  font-size: 24px;
  transition: 1s ease;
}
.rotate:hover {
  transform: rotate(4deg);
}

.grow-rotate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  background-color: gray;
  color: white;
  font-size: 18px;
  transition: 1s ease;
}
.grow-rotate:hover {
  transform: scale(1.1) rotate(5deg);
}

.sink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  background-color: gray;
  color: white;
  font-size: 24px;
  transition: 1s ease;
}
.sink:hover {
  transform: translateY(10px);
}

.skew {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  background-color: gray;
  color: white;
  font-size: 24px;
  transition: 1s ease;
}
.skew:hover {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-property: transform;
  transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.skew:hover, .skew:focus, .skew:active {
  transform: skew(-10deg);
}

.skew-forward {
  display: inline;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  background-color: gray;
  color: white;
  font-size: 20px;
  transition: 1s ease;
}
.skew-forward:hover {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-property: transform;
  transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.skew-forward:hover, .skew-forward:focus, .skew-forward:active {
  transform: skew(10deg);
  transform: skew(10deg);
}

.forward {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  background-color: gray;
  color: white;
  font-size: 24px;
  transition: 1s ease;
}
.forward:hover {
  transform: translateX(10px);
}

.backward {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  background-color: gray;
  color: white;
  font-size: 24px;
  transition: 1s ease;
}
.backward:hover {
  transform: translateX(-10px);
}/*# sourceMappingURL=main.css.map */