.skew-forward {
    display: inline;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    background-color: gray;
    color: white;
    font-size: 20px;
    transition: 1s ease;

    &:hover {
            display: inline-block;
            vertical-align: middle;
            transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            transition-duration: 0.3s;
            transition-duration: 0.3s;
            transition-property: transform;
            transition-property: transform;
            transform-origin: 0 100%;
            transform-origin: 0 100%;
    }

    &:hover, &:focus, &:active {
            transform: skew(10deg);
            transform: skew(10deg);
    }
}